




<ContentPage>
    <StackLayout>
        <BoxView Color="Color.Blue">
        </BoxView>
        <Label Text="AppName 1.0"></Label>
        <Button Text="Learn More"></Button>
    </StackLayout>
</ContentPage>

@code {

}