@using MelbourneBlazorXamarin.Forms.Views

<Shell FlyoutBehavior="FlyoutBehavior.Disabled">
    <TabBar>
        <Tab Title="Presenters">
            <ShellContent>
                <MBBPresentersPage />
            </ShellContent>
        </Tab>
        <Tab Title="About">
            <ContentPage>
                <StackLayout>
                    <Label Text="About"></Label>
                </StackLayout>
            </ContentPage>
        </Tab>
    </TabBar>
</Shell>