@page "/fetchdata"
@inject NavigationManager NavigationManager

@using MelbourneModernApp.Core.Models

<h1>Presenters</h1>

<p>Presenters and Melbourne Meetup.</p>

@if (VM.Items == null || VM.Items.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <MatButton Raised="true" OnClick="AddPresenter">Add</MatButton>

    <table class="table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Blurb</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var presenter in VM.Items)
            {
                <tr>
                    <td><img src="@presenter.ImageUrl" class="circle-image" /></td>
                    <td>@presenter.Name</td>
                    <td>@presenter.Description</td>
                    <td><MatIconButton Icon="edit" OnClick="@(() => EditPresenter(presenter))" ></MatIconButton></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ItemsViewModel VM = new ItemsViewModel();
    protected override async Task OnInitializedAsync()
    {
        await VM.ExecuteLoadItemsCommand();
    }

    public void AddPresenter()
    {
        NavigationManager.NavigateTo("/presenters/detail");
    }

    public void EditPresenter(Item presenter)
    {

        NavigationManager.NavigateTo($"/presenters/detail/{presenter.Id}");
    }
}
